body {
  font-family: Arial, sans-serif;
}

#calculator {
  width: 335px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #DDFFF7;
}


input[type="text"] {
  width: 90%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
  background-color: #DDE9FF;
}

button {
  width: 70px;
  height: 70px;
  font-size: 20px;
  margin: 5px;
  transition-property: background-color;
  transition: 0.3s;
}
.number{
  background-color: #93E1D8;
}
.decimal{
  background-color: #93E1D8;
}
.number:active{
  background-color: #04e3c9;
}
.decimal:active{
  background-color: #04e3c9;
}
.operand{
  background-color: #FFA69E;
}
.operand:focus{
  background-color: #fc6457;
}
.equals{
  background-color: #FF77A4;
}
.clear{
  background-color: #FF77A4;
}
.backspace{
  background-color: #FF77A4;
  width: 240px;
}
.equals:active{
  background-color: #fa0e5c;
}
.clear:active{
  background-color: #fa0e5c;
}
.backspace:active{
  background-color: #fa0e5c;
}